<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://listeneventgrid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6a70d26c-a42e-4cad-aa9b-84d0d59f07de/resourceGroups/EventGridPoc/providers/Microsoft.Web/sites/ListenEventGrid</ResourceId>
    <UserName>$ListenEventGrid</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://listeneventgrid.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>